@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xi "http://www.w3.org/2001/XInclude";


oxy|comment {
   display: none !important;
}

teiHeader {
   display: none;
}

TEI facsimile {
   display: none;
}

TEI text {
   padding: 40px 15px 15px 15px;
   font-size: large;
   font-weight: normal;
}

/* Table Styles */
table {
   display: table;
}
table row {
   display: table-row;
}
table row cell {
   display: table-cell;
   padding: 3px 20px;
}
table row[style = head] cell {
   font-size: large;
   padding-top: 20px;
   padding-bottom: 20px;
}


head {
   display: block;
   font-size: large;
   padding-left: 50px;
   margin-top: 15px;
   margin-bottom: 15px;
}

ab {
   display: block;
   line-height: 1.525em;
   margin-left: 25px;
   margin-bottom: 25px;
}
ab {
   text-indent: -5.5px;
}

add,
note {
   font-style: italic;

}

app rdg,
app:has(note){
   color: #727f4c;
   padding: 0 0 0 5px;
}
app rdg,
app:has(note)::before {
   content: '[';
}
app rdg,
app:has(note)::after {
   content: ']';
}
choice abbr {
   display: none;
}


date {
   font-weight: bold;
}

del {
   text-decoration: line-through;
   text-decoration-color: black;
}

div {
   display: block;
}

gap::after {
   content: unset;
   color: #aaa;
   display: inline-block;
   width: 60px;
   height: 10px;
   line-height: 10px;
   background: #aaa;
}

hi[rend = underline] {
   font-style: italic;
}

lb {
   display: none;
}

list item {
   display: block;
   padding-left: 25px;
}

pb {
   display: block;
   margin: 12px 0 25px 25px;
   font-style: italic;
   padding: 3px;
   border: 1px solid gray;
   text-align: center;
}

pb {
   color: #666666;
}
pb[n = left-page] {
   content: 'Linke Seite';
}
pb[n = right-page] {
   content: 'Rechte Seite';
}
pb[n = recto] {
   content: 'Vorderseite';
}
pb[n = verso] {
   content: 'Rückseite';
}


*[rend = longhand] {
   padding-left: 3px;
   letter-spacing: 1.5px;
}

*[rend = quoted]::before {
   content: '„';
}
*[rend = quoted]::after {
   content: '“';
}
*[rend = quoted] *[rend = quoted]::before {
   content: '‚';
}
*[rend = quoted] *[rend = quoted]::after {
   content: '‘';
}

supplied::before {
   content: '[';
}
supplied::after {
   content: ']';
}
supplied,
supplied::before,
supplied::after {
color: gray;
}

time {
   font-weight: bold;
}

title {
   font-style: italic;
}

unclear {
   color: #666;
}

xi|include {
   display: none !important;
}